treechildren::-moz-tree-cell-text(tag){
	color: #069;
	text-decoration:underline;
	cursor: pointer;
}

treechildren::-moz-tree-cell-text(tag){
	color: #069;
	text-decoration:underline;
	cursor: pointer;
}

treechildren::-moz-tree-cell-text(selected){
	text-decoration:underline;
	cursor: pointer;
	color: red;
}

.richlistitem{
	background-color:white;
	color:black;
}

.richlistitem:Hover{
	background-color:#eeeeee;
}

.richlistitem:Selected{
	background-color:blue;
	color:white;
}

.url{
	cursor: pointer;
	color:#aaaaaa
}

.url:hover{
	cursor: pointer;
	color: #006699;
	text-decoration:underline; 
	background-color:#eeeeee;
}

.relations{
	color: #069;
	text-decoration:underline;
}

.relations:hover{
	cursor: pointer;
	color: red;
}

.tagcloudUL {
	text-align: justify;
  	font-size: 70%;
	padding: 0px;
	list-style: none;
	margin: 5px 0px 5px 0px;
}


.tagcloudLI {
  	margin: 1px 0px 1px 0px;
	padding: 0em .5em 0em .5em;
	line-height:1.8em;
}


.big {
 	color: #069;
	font-size:25px;
	text-decoration:none;
}

.normal {
 	color: #069;
	font-size:20px;
	text-decoration:none;
}

.small {
	color: #069;
	font-size:15px;
	text-decoration:none;
}

.big:hover {
 	color: red;
	font-size:25px;
	text-decoration:none;
}

.normal:hover {
 	color: red;
	font-size:20px;
	text-decoration:none;
}

.small:hover {
 	color: red;
	font-size:15px;
	text-decoration:none;
}

.bookmarklisting {
	color:#069;
	cursor: pointer;
	margin: 2px;
}

.bookmarklistingselected {
	color:red;
	cursor: pointer;
	margin: 2px;
}

.bookmarklisting:hover {
	color:red;
	cursor: pointer;
}