.info {
	font-style: italic
}

.tagSuggestion{
	color: #069;
	text-decoration:underline;
	cursor: pointer;
}

.tagSuggestion:hover{
	cursor: pointer;
	color: red;
	cursor: pointer;
}

.tagRecommendation{
	color: #069;
	text-decoration:underline;
	cursor: pointer;
}

.tagRecommendation:hover{
	cursor: pointer;
	color: red;
	cursor: pointer;
}
