#bibsonomyHome {
    list-style-image: url("chrome://bibsonomy/skin/toolbar/icons/bibsonomy.png");
}

#bibsonomyHome:hover {
    list-style-image: url("chrome://bibsonomy/skin/toolbar/icons/bibsonomy.png");
}

#bibsonomySidebar {
    list-style-image: url("chrome://bibsonomy/skin/toolbar/icons/folder.png");
}

#bibsonomySidebar:hover {
    list-style-image: url("chrome://bibsonomy/skin/toolbar/icons/folder.png");
}
