.navbar-icon {
	width: 16px;
	height: 16px;
	margin: 0 1px;
}

.navbar-icon {
	background-position: 0% 0%;
	display: none;
}

.navbar-icon[tagged="true"] {
	background-position: 100% 0%;
	display: -moz-box;
}


.navbar-icon[tagged="true"],
#urlbar-icons:hover .navbar-icon[picked="true"],
#urlbar-icons:hover #navbar-showmore,
#navbar-main-box.showall .navbar-icon,
#navbar-main-box.showall #navbar-dontshowmore {
	display: -moz-box;
}

#navbar-main-box.showall #navbar-showmore {
	display: none;
}

#navbar-main-box {
	overflow: hidden;
}